<section id="default-carousel" class="relative w-full" data-carousel="static">
	<!-- Carousel wrapper -->
	<div class="relative h-56 overflow-hidden md:h-dvh">
		 <!-- Item 1 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="/carousel-01.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="carousel-01">
			<div class="absolute top-0 left-0 w-full h-full bg-blue-900 opacity-50"></div>
		</div>
		<!-- Item 2 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="/carousel-02.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="carousel-02">
			<div class="absolute top-0 left-0 w-full h-full bg-blue-900 opacity-50"></div>
		</div>
		<!-- Item 3 -->
		<div class="hidden duration-700 ease-in-out" data-carousel-item>
			<img src="/carousel-03.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="carousel-03">
			<div class="absolute top-0 left-0 w-full h-full bg-blue-900 opacity-50"></div>
		</div>
	</div>
	<!-- Slider indicators -->
	<div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
		<button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
		<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
		<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
	</div>
</section>
