<section id="nosotros">
	<div class="bg-blanco grid grid-cols-2">
		<div class="grid grid-cols-11 mt-10">
			<div class="col-start-3 xl:col-start-4 col-span-7">
				<svg width="23" height="337" viewBox="0 0 23 300" fill="#092059" xmlns="http://www.w3.org/2000/svg">
					<path d="M21.7929 17.7928L4.99998 0.999915C2.99998 -1.00008 -1.00002 2.99996 0.99998 4.99992L13.7929 17.7928C14.1834 18.1833 14.1834 18.8165 13.7929 19.207L0.99998 31.9999C-1 34 3 38 4.99998 35.9999L21.7929 19.207C22.1834 18.8165 22.1834 18.1833 21.7929 17.7928Z"/>
				</svg>
				<p class="txt-tittle sans-semibold-italic txt-azul-2">
					QUIÉNES SOMOS
				</p>
				<p class="pt-3 txt-nav txt-azul-2 pb-20">_________</p>
				<p class="pt-3 txt-negro sans-semibold">Matuflex ofrece una extensa variedad de productos <br>
					especialmente diseñados para resolver en su mayoria  <br>
					todos los requerimientos técnicos en la industria.
				</p>
				<p class="pt-3 pb-20 txt-negro sans-semibold">Líder como fabricante de mangueras metálicas  <br>
					flexibles. Con una dedicación inquebrantable a la  <br>
					innovación y la calidad, impulsamos tus operaciones <br>
					transportando fluidos con seguridad y eficiencia.
				</p>
			</div>
		</div>
		<div class="overflow-hidden">
			<img class="object-cover w-full h-full scale-150 translate-y-[-25%]" src="/soldador.jpg" alt="">
		</div>
	</div>
</section>